:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 9%);
  --hoverBg: hsla(0, 0%, 0%, 0.6);
  --tertiary-100: hsl(180, 100%, 28%);
  --tertiary-50: hsl(180, 39%, 64%);
  --primary-100: hsl(44, 56%, 92%);
  --primary-50: hsl(51, 54%, 97%);
  --secondary-100: hsl(145, 25%, 73%);
  --secondary-50: hsl(145, 25%, 86%);
  --headerFont: 'Ubuntu';
  --bodyFont: 'Poppins';
  --l: 2rem;
  --m: 1.5rem;
  --s: 1rem;
  --p1: 1.375rem;
  --p2: 1.125rem;
  --p3: 0.875rem;
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --br-1: 3px;
  --br-2: 10px;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

@media (prefers-color-scheme: light) {
  /* :root {
    --background: hsl(0, 0%, 0%);
  --foreground: hsl(0, 0%, 91%);
  --hoverBg: hsla(0, 0%, 0%, 0.4);
  --tertiary-100: hsl(180, 100%, 72%);
  --tertiary-50: hsl(180, 39%, 36%);
  --primary-100: hsl(44, 56%, 8%);
  --primary-50: hsl(51, 54%, 3%);
  --secondary-100: hsl(145, 25%, 27%);
  --secondary-50: hsl(145, 25%, 14%);
  } */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background: var(--background);
  color: var(--foreground);
  letter-spacing: 0.5px;
}
html{
  scroll-behavior: smooth;
}


