#faq{
  background: url(../../../../public/images/about-us-img-1-1.png) no-repeat center fixed;
  background-size: contain;
}
.faqPage{
  width: 100%;
  height: auto;
}
.faqBox{
  width: 100%;
  height: auto;
  margin: 1em 0 3em;
}
.faqQst{
  width: 65%;
  margin: auto;
  background-color: teal;
  color: white;
}
.ans,.faqQst{
  padding: 0.7em;
}
.ans{
   border: 1px solid rgba(211, 211, 211, 0.317);
}


/* ========== My thought System css - delete ============= */
.checkout{
  width: 100%;
  height: auto;
  /* margin: 1em 0 3em; this is just the section tag design. dont bother about it */
}

/* start looking up from below */
.qstbox{
  width: 60%; /* use whatever width you want */
  margin: auto; /* centers the box */
}
.ans,
.qst{
  padding: 0.7em;
}
.qst{
  background-color: teal;
  color: white;
}
.ans{
  border: 1px solid rgba(211, 211, 211, 0.317);
  /* display: none;  */
  /* To see this work, comment and uncomment the 'display' above this line */
/* this will work using JS/management state */
}


